name: "IntegrationTest"
on:
  push:
    branches:
      - "main"
    tags: "*"
    paths:
      - "Project.toml"
  pull_request:
    types:
      - "opened"
      - "synchronize"
      - "reopened"
      - "ready_for_review"
      - "converted_to_draft"
    paths:
      - "Project.toml"
jobs:
  integration-test:
    name: "IntegrationTest"
    strategy:
      matrix:
        pkg:
          - "BlockSparseArrays"
          - "DiagonalArrays"
          - "FusionTensors"
          - "GradedArrays"
    uses: "ITensor/ITensorActions/.github/workflows/IntegrationTest.yml@main"
    with:
      localregistry: "https://github.com/ITensor/ITensorRegistry.git"
      pkg: "${{ matrix.pkg }}"
